article {
    display: flex;
    flex-direction: row;
}

#htmltags li {
    margin: 2.5rem 2rem;
    font-weight: bold;
}

/* Tooltip for html tag */

#html {
    position: relative;
}

#html #htmltagtxt {
    visibility: hidden;
    width: 200px;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0px;
    position: absolute;
    z-index: 2;
    top: 20px;
}

#html:hover #htmltagtxt {
    visibility: visible;
}