#htmllink {
    border: 2px solid white;
}

article {
    display: flex;
    flex-direction: row;
}

#htmltags li {
    color: #569CD6;
    margin: 2.5rem 2rem;
    font-weight: bold;
}

/* Tooltip for html tag */

#html {
    position: relative;
}

.bold {
    font-weight: bold;
}

#html #htmltagtxt {
    visibility: hidden;
    width: 500px;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0px;
    position: absolute;
    z-index: 2;
    top: 20px;
}

#html:hover #htmltagtxt {
    visibility: visible;
    font-weight: 100;
}