#imgwrap1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#imgwrap1 img {
    opacity: 50%;
    max-width: 500px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
}

#imgwrap1 img:hover {
    opacity: 100%;
    -webkit-transition: all 0.4s ease-in;
}

.imgtxt {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    justify-content: center;
}

.imgtxt img {
    opacity: 50%;
    max-width: 500px;
    height: 300px;
    margin: 25px;
    border-radius: 15px;
}

.imgtxt img:hover {
    opacity: 100%;
    -webkit-transition: all 0.4s ease-in;
}

.imgtxt p {
    padding: 4rem;
    position: relative;
    width: 40%;
}
