* {
    margin: 0px;
    padding: 0px;
    background-color: #24292F;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    text-transform: uppercase;
}

nav {
    position: fixed;
    padding: 4px;
    width: 100%;
    border-bottom: 1px solid grey;
    border-radius: 8px;
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    display: block;
    margin: 8px 20px;
}

nav li a {
    border-radius: 10px;
    padding: 4px;
}

nav li a:hover {
    background-color: #40B3E4;
    color: black;
    -webkit-transition: all 0.6s ease;
}

main {
    padding: 8%;
}

.uc {
    position: relative;
}

.uc .uctxt {
    visibility: hidden;
    width: 200px;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0px;
    position: absolute;
    z-index: 2;
    top: 20px;
}

.uc:hover .uctxt {
    visibility: visible;
}