* {
    margin: 0px;
    padding: 0px;
    background-color: #24292F;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
    border: 1px solid;
    border-color: greenyellow;
}

a:link {
    text-decoration: none;
    text-transform: uppercase;
}

nav {
    position: fixed;
    padding: 4px;
    width: 100%;
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    display: block;
    margin: 8px;
}

nav li a {
    border-radius: 10px;
    padding: 4px;
}

nav li a:hover {
    background-color: #40B3E4;
    color: black;
    -webkit-transition: all 0.6s ease-in;
}

main {
    margin-top: 5rem;
    padding-left: 5%;
}

