* {
    margin: 0px;
    padding: 0px;
    background-color: #24292F;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
    text-transform: uppercase;
}

nav {
    padding: 30px;
    margin-left: 35%;
    margin-right: 35%;
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: block;
}

