* {
    margin: 0px;
    padding: 0px;
    background-color: #24292F;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Span settings */

.bold {
    font-weight: bold;
}

.lblue {
    color: #A2E4FF;
}

.orange {
    color: #D09279;
}

.white {
    color: #DCDCDC;
}

/* Navigation Bar */

a:link {
    text-decoration: none;
    text-transform: uppercase;
}

nav {
    position: fixed;
    padding: 4px;
    width: 100%;
    border-bottom: 1px solid grey;
    border-radius: 8px;
    z-index: 3;
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    display: block;
    margin: 8px 20px;
}

nav li a {
    border-radius: 10px;
    padding: 4px;
}

nav li a:hover {
    background-color: #40B3E4;
    color: black;
    -webkit-transition: all 0.6s ease;
}

main {
    padding: 5%;
}

/* Body Norming */

section {
    padding: 10px 15px;
}

p {
    margin: 20px 10px;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

#explanation {
    margin: 2rem 12rem;
}

#explanation p {
    text-align: center;
}

/* Settings for all tables */

#blockroster {
    display: flex;
}

.cmdblock {
    display: flex;
    flex-direction: column;
}

table {
    display: flex;
    border: #FFFFFF 2px solid;
    border-radius: 10px;
    width: 30rem;
}

table td {
    padding: 5px;
    width: 15rem;
}

td:first-child {
    font-weight: bold
}

.placeholder {
    font-weight: 100;
    font-style: italic;
    color: lightblue;
}

